[submodule "Elfisk.Commons"]
	path = Elfisk/Elfisk.Commons
	url = https://github.com/JornWildt/Elfisk.Commons

[submodule "Elfisk.ECS"]
	path = Elfisk/Elfisk.ECS
	url = https://github.com/JornWildt/Elfisk.ECS
