@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
  {
    @Html.AntiForgeryToken()

    <span class="navbar-text">Hej @User.Identity.GetUserName()</span>
    <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log ud</a>
  }
}
